<div class="container" id="container">
	<div class="form-container sign-in-container">
		<div class="form" [formGroup]="loginForm">
			<h1>Sign in</h1>
			<input type="email"  placeholder="Email" formControlName="email" [style.borderColor]="(loginForm.get('email').touched || showError) && loginForm.get('email').invalid ? 'red' : 'transparent'" />
			<input type="password" placeholder="Password" formControlName="password" [style.borderColor]="(loginForm.get('password').touched || showError) && loginForm.get('password').invalid ? 'red' : 'transparent'" />
			<button (click)="login()">Sign In</button>
        </div>
	</div>
</div>
